@charset "UTF-8";

$regular: 'Montserrat', sans-serif;
$red: #e03e2f;
$black: #1d1d1b;

html,
body {
  margin: 0;
  padding: 0;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-loreal.es-loreal {
  font-family: $regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #fff;
  background: #000;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #fff;
  }

  .es-kv {
    margin-bottom: 32px;
    &__img {
      @include img;
      &--packshot {
        max-width: 220px;
        position: relative;
        z-index: 2;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.05);
        }
      }
      &--packshot-bg {
        position: absolute;
        z-index: 1;
        top: 32px;
        right: 90px;
      }
    }
    &__logo {
      margin: 32px 0 20px;
      padding: 0 16px;
      opacity: 0;
      animation: slidedown 0.6s forwards;
    }
    &__name {
      margin-bottom: 5px;
      padding: 0 16px;
      opacity: 0;
      animation: slidedown 0.6s 0.3s forwards;
    }
    &__text {
      @include text;
      text-align: center;
      text-transform: uppercase;
      padding: 0 16px;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 20px;
      opacity: 0;
      animation: slidedown 0.6s 0.6s forwards;
    }
    &__image {
      position: relative;
      max-width: 675px;
      margin: 0 auto;
    }
    &__texts {
      position: absolute;
      z-index: 3;
      bottom: 56px;
      left: 16px;
      opacity: 0;
      animation: slideright 0.6s 0.6s forwards;
    }
    &__title {
      @include text;
      color: #000;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 24px;
      letter-spacing: -1px;
      line-height: 1.2;
      margin-bottom: 15px;
      & span {
        font-weight: 600;
      }
    }
    &__subtitle {
      @include text;
      color: #000;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    &__right-subtitle{
      @include text;
      background-color: #887db0;
      color: #fff;
      text-transform: uppercase;
      width: fit-content;
      text-align: center;
      margin: 0 auto;
      &--1 {
        font-size: 22px;
        letter-spacing: 9px;
        padding: 5px 15px;
        margin-bottom: 20px;
      }
      &--2 {
        font-size: 14px;
        padding: 2px 5px;
        font-weight: 600;
      }
    }
    &__disc {
      @include text;
      font-size: 8px;
    }
    &__packshot {
      padding-top: 50px;
      width: 334px;
      max-width: 100%;
      margin: 0 auto;
      position: relative;
      display: flex;
      justify-content: center;
      opacity: 0;
      animation: slidedown 0.6s 0.6s forwards;
    }
  }

  .es-video {
    margin-bottom: 64px;
    position: relative;
    &__title {
      @include text;
      color: #fff;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 32px;
      padding: 0 16px;
    }
    &__container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
    }
    &__iframe {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  .es-pack {
    padding: 0 16px;
    margin-bottom: 64px;
    &__title {
      @include text;
      color: #fff;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 32px;
      padding: 0 16px;
    }
    &__img {
      @include img;
      &--icon {
        padding-top: 10px;
        max-width: 40px;
      }
    }
    &__list {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    &__item {
      display: flex;
      gap: 16px;
      margin-bottom: 20px;
      &:hover .es-pack__icon {
        transform: translateX(-8px);
      }
    }
    &__icon {
      min-width: 40px;
      transition: all 0.3s;
    }
    &__subtitle {
      @include text;
      margin-bottom: 4px;
      font-weight: 600;
      padding-top: 12px;
    }
    &__text {
      @include text;
    }
  }
  .es-benefits {
    margin-bottom: 64px;
    padding: 64px 16px 64px 16px;
    background: url('../images/bg-gold.png') no-repeat top center;
    background-size: cover;
    &__wrapper {
      max-width: 896px;
      margin: 0 auto;
      width: 80%;
      background: #000;
      padding: 64px 32px;
      border-radius: 15px;
    }
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-left: 64px;
      max-width: 620px;
      margin: 0 auto;
    }
    &__item {
      @include text;
      position: relative;
      padding: 8px 0;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &::before {
        content: url('../images/dot.png');
        position: absolute;
        top: 50%;
        left: -64px;
        transform: translateY(-50%);
        transition: all 0.3s;
      }
      &:hover {
        &::before {
          content: url('../images/dot.png');
          position: absolute;
          top: 50%;
          left: -72px;
          transform: translateY(-50%);
        }
      }
    }
  }

  .es-slider {
    margin-bottom: 25px;
    &__title {
      @include text;
      font-size: 32px;
      font-weight: 600;
      color: #fff;
      margin-bottom: 32px;
      padding: 0 16px;
      text-transform: uppercase;
      line-height: 1.1;
      text-align: center;
    }
    &__wrapper {
      background: url('../images/bg-gold.png') no-repeat top left;
      background-size: cover;
      padding: 56px 16px 56px 16px;
    }
    &__invisible {
      margin: 0;
      padding: 0;
      color: #000;
    }
    &__content {
      max-width: 886px;
      padding: 25px 24px;
      margin: 0 auto;
      background: #000;
      border-radius: 16px;
    }
    &__persona {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    &__img {
      @include img;
    }
    &__photo {
      margin-bottom: 16px;
    }
    &__name {
      @include text;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      line-height: 1.5;
    }
    &__job {
      @include text;
      font-size: 14px;
      margin-bottom: 16px;
      text-align: center;
      line-height: 1.5;
    }
    &__subtitle {
      @include text;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
    }
    &__content {
      min-height: 280px;
      position: relative;
    }
    &__link {
      @include text;
      margin: 25px 0;
      padding: 13px 25px;
      background-color: #887db0;
      width: fit-content;
      font-weight: 600;
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
      background: linear-gradient(to right, white 50%, #887db0 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease-out;
      &:hover {
        background-position: left bottom;
        color: #000;
      }
    }
    &__text {
      @include text;
      padding-bottom: 40px;
    }
    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
      display: none;
    }
    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
      display: none;
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      right: -12px;
      left: auto;
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      left: -12px;
      right: auto;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 0px;
    }
    .swiper-pagination {
      position: absolute;
      bottom: -32px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      display: inline-block;
      border-radius: 50%;
      background: #292929;
      border: 1px solid $black;
      opacity: 1;
      &:not(:last-child) {
        margin-right: 6px;
      }
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
      background: #b38f4b;
    }
  }

  .es-footer {
    padding: 20px 10px;
    &__text {
      @include text;
      text-align: center;
    }
  }


  @media screen and (min-width: 768px) {
    .es-kv {
      margin-bottom: 64px;
      &__container {
        display: flex;
      }
      &__title {
        font-size: 32px;
        padding-right: 64px;
      }
      &__img {
        &--kv {
          min-height: 774px;
          object-fit: cover;
        }
      }
      &__subtitle,
      &__disc {
        padding-right: 64px;
      }
      &__branding {
        padding: 0 32px;
      }
    }
    .es-pack {
      max-width: 896px;
      margin: 0 auto;
      margin-bottom: 64px;
      &__container {
        display: flex;
        align-items: center;
        gap: 32px;
      }
      &__image {
        flex: 1;
      }
      &__content {
        flex: 1;
      }
    }
    .es-slider {
      margin-bottom: 25px;
      &__title {
        font-size: 40px;
      }
      &__content {
        display: flex;
        padding: 32px;
      }
      &__persona {
        min-width: 136px;
        margin-right: 32px;
      }
      &__job {
        margin-bottom: 0;
      }
    }
    .es-virtual {
      max-width: 896px;
      margin: 0 auto;
      margin-bottom: 64px;
      &__title {
        font-size: 48px;
      }
      &__container {
        display: flex;
        align-items: center;
        gap: 32px;
      }
      &__content {
        order: -1;
        // padding-top: 32px;
        font-size: 18px;
      }
      &__list {
        margin-bottom: 64px;
      }
      &__image {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }

  @media screen and (min-width: 998px) {
    .es-kv {
      &__title {
        font-size: 35px;
      }
    }
    .es-slider {
      .swiper-button-next,
      .swiper-container-rtl .swiper-button-prev {
        right: -48px;
        left: auto;
      }
      .swiper-button-prev,
      .swiper-container-rtl .swiper-button-next {
        left: -48px;
        right: auto;
      }
      .swiper-button-next,
      .swiper-button-prev {
        width: 40px;
      }
    }
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
